<%- include("includes/head") %> 
</head>
<body>
    <main class="container mt-5">
        <% if (users) { %>
            <ul class="list-group">
                <% users.forEach(function(user){ %>
                    <li class="list-group-item"><%= user %> </li>
                  <% }); %>
            </ul>
           <% } %> 
    </main>
   
</body>
</html>